# Q1

In [1]:
import numpy as np
import math

R = np.array([0,1,2,3])
B = np.array([0,1,2,3])
W = np.array([0,1,2,3])
joint = []

for i in range(0,len(R)):
    for j in range(0,len(B)):
        for k in range(0,len(W)):
            x = [i,j,k]
            if sum(x) == 3:
                joint.append(x)

In [2]:
joint

[[0, 0, 3],
 [0, 1, 2],
 [0, 2, 1],
 [0, 3, 0],
 [1, 0, 2],
 [1, 1, 1],
 [1, 2, 0],
 [2, 0, 1],
 [2, 1, 0],
 [3, 0, 0]]

In [3]:
def Combination(u,d):
    P = math.factorial(u)/(math.factorial(u-d)*math.factorial(d))
    return P

In [4]:
r = 0
b = 0
w = 0
p = 0
P = []
for i in joint:
    r = Combination(4,i[0])
    b = Combination(5,i[1])
    w = Combination(6,i[2])
    total = Combination(15,3)
    p = (r*b*w)/total
    P.append(p)

In [5]:
index = 0
maximum = 0
for i in range(len(P)):
    if P[i] > maximum:
        maximum = P[i]
        count = i

In [6]:
P[count]

0.26373626373626374

In [7]:
joint[count]

[1, 1, 1]

# Q2

In [11]:
#import pandas and name this namespace as pd
import pandas as pd
#Load data and name the columns
data = pd.read_csv('/home/alishba/Documents/Sem 5/ML/Assignment1/iris.data')
data.columns = ['SepalLength','SepalWidth','PetalLength','PetalWidth','Class']
print (data.describe())

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   149.000000  149.000000   149.000000  149.000000
mean      5.848322    3.051007     3.774497    1.205369
std       0.828594    0.433499     1.759651    0.761292
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.400000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [12]:
data.iloc[55:,:]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Class
55           6.3         3.3          4.7         1.6  Iris-versicolor
56           4.9         2.4          3.3         1.0  Iris-versicolor
57           6.6         2.9          4.6         1.3  Iris-versicolor
58           5.2         2.7          3.9         1.4  Iris-versicolor
59           5.0         2.0          3.5         1.0  Iris-versicolor
..           ...         ...          ...         ...              ...
144          6.7         3.0          5.2         2.3   Iris-virginica
145          6.3         2.5          5.0         1.9   Iris-virginica
146          6.5         3.0          5.2         2.0   Iris-virginica
147          6.2         3.4          5.4         2.3   Iris-virginica
148          5.9         3.0          5.1         1.8   Iris-virginica

[94 rows x 5 columns]

In [13]:
Setosa = data.iloc[0:49,:]
Versicolor = data.iloc[49:99,:]
Virginica = data.iloc[99:,:]

In [14]:
from scipy.stats import multivariate_normal 

def Gaussian(l1):
    Setosa_mean = np.mean(Setosa.iloc[:,:-1])
    Versicolor_mean = np.mean(Versicolor.iloc[:,:-1])
    Virginica_mean = np.mean(Virginica.iloc[:,:-1])

    Cov_Setosa = np.cov(Setosa.iloc[:,:-1].T)
    Cov_Versicolor = np.cov(Versicolor.iloc[:,:-1].T)
    Cov_Virginica = np.cov(Virginica.iloc[:,:-1].T)

    P_Setosa = len(Setosa)/len(data)
    P_Virginica = len(Virginica)/len(data)
    P_Versicolor = len(Versicolor)/len(data)
    
    # P(Setosa/X) = P(X/Setosa)*P(Setosa)  / P(X)
    Evidence = multivariate_normal.pdf(l1,Setosa_mean,Cov_Setosa)
    Prob_Setosa = Evidence*P_Setosa

    Evidence = multivariate_normal.pdf(l1,Versicolor_mean,Cov_Versicolor)
    Prob_Versicolor = Evidence*P_Versicolor

    Evidence = multivariate_normal.pdf(l1,Virginica_mean,Cov_Virginica)
    Prob_Virginica = Evidence*P_Virginica
    
    Prob = np.array([Prob_Setosa,Prob_Versicolor,P_Virginica])
    
    return Prob

In [15]:
def maximum(P):
    index = 0
    maximum = 0
    for i in range(len(P)):
        if P[i] > maximum:
            maximum = P[i]
            count = i
            
    return count

In [16]:
l1 = [6.3,3.3,4.7,1.6]
P = Gaussian(l1)

if maximum(P) == 0:
    print("The class is Setosa.")
elif maximum(P) == 1:
    print("The class is Versicolor.")
elif maximum(P) == 2:
    print("The class is Virginica.")

The class is Versicolor.

### Gaussian NB

In [17]:
X = data.iloc[:,:-1]
Y = data.iloc[:,-1:]

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

clf = GaussianNB()
clf.fit(X_train, Y_train)

/home/alishba/notebook/jupyterenv/lib/python3.6/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [18]:
predict_test = clf.predict(X_test)
# Accuracy Score on test dataset
from sklearn.metrics import classification_report

print("                       Classification report \n\n")

print(classification_report(Y_test, predict_test))

                       Classification report


                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         9
Iris-versicolor       0.85      1.00      0.92        11
 Iris-virginica       1.00      0.80      0.89        10

       accuracy                           0.93        30
      macro avg       0.95      0.93      0.94        30
   weighted avg       0.94      0.93      0.93        30

# Q3

In [19]:
data

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[149 rows x 5 columns]

In [20]:
from math import ceil
SL = ceil(np.mean(data.SepalLength))
SW = ceil(np.mean(data.SepalWidth))
PL = ceil(np.mean(data.PetalLength))
PW = ceil(np.mean(data.PetalWidth))

In [21]:
SepalLength = []
SepalWidth = []
PetalLength = []
PetalWidth = []

for i in data.PetalLength:
    if i<PL:
        PetalLength.append(0)
    else:
        PetalLength.append(1)

for i in data.PetalWidth:
    if i<PW:
        PetalWidth.append(0)
    else:
        PetalWidth.append(1)
        
for i in data.SepalLength:
    if i < SL:
        SepalLength.append(0)
    else:
        SepalLength.append(1)
        
for i in data.SepalWidth:
    if i < SW:
        SepalWidth.append(0)
    else:
        SepalWidth.append(1)

In [22]:
df = pd.DataFrame(columns=['PetalLength','PetalWidth','SepalLength','SepalWidth'])

In [23]:
df['PetalLength'] = PetalLength
df['PetalWidth'] = PetalWidth
df['SepalLength'] = SepalLength
df['SepalWidth'] = SepalWidth

In [24]:
df

     PetalLength  PetalWidth  SepalLength  SepalWidth
0              0           0            0           0
1              0           0            0           0
2              0           0            0           0
3              0           0            0           0
4              0           0            0           0
..           ...         ...          ...         ...
144            1           1            1           0
145            1           0            1           0
146            1           1            1           0
147            1           1            1           0
148            1           0            0           0

[149 rows x 4 columns]

In [25]:
data

     SepalLength  SepalWidth  PetalLength  PetalWidth           Class
0            4.9         3.0          1.4         0.2     Iris-setosa
1            4.7         3.2          1.3         0.2     Iris-setosa
2            4.6         3.1          1.5         0.2     Iris-setosa
3            5.0         3.6          1.4         0.2     Iris-setosa
4            5.4         3.9          1.7         0.4     Iris-setosa
..           ...         ...          ...         ...             ...
144          6.7         3.0          5.2         2.3  Iris-virginica
145          6.3         2.5          5.0         1.9  Iris-virginica
146          6.5         3.0          5.2         2.0  Iris-virginica
147          6.2         3.4          5.4         2.3  Iris-virginica
148          5.9         3.0          5.1         1.8  Iris-virginica

[149 rows x 5 columns]

In [26]:
Setosa = data.iloc[0:49,:]
Versicolor = data.iloc[49:99,:]
Virginica = data.iloc[99:,:]

In [27]:
l1 = [1,0,0,0]
P = Gaussian(l1)

if maximum(P) == 0:
    print("The class is Setosa.")
elif maximum(P) == 1:
    print("The class is Versicolor.")
elif maximum(P) == 2:
    print("The class is Virginica.")

The class is Virginica.